<template>
  <div
    class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <h5
      v-if="title"
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ title }}
    </h5>

    <div>
      <slot />
    </div>
  </div>
</template>

<script lang="ts" setup>
defineProps<{
  title?: string;
}>();
</script>

<style scoped></style>
