<template>
  <div class="my-8">
    <h2 class="text-3xl font-semibold">Welcome to Fancy Lotto</h2>

    <p class="text-md">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. amet.
    </p>
  </div>

  <UpcomingGames />
</template>

<script lang="ts" setup>
import UpcomingGames from "./welcome/UpcomingGames.vue";
</script>
