<template>
  <div v-if="draw">
    <div class="h-full mb-4 mt-8">
      <DrawInfoCard :draw="draw?.draws[0]" />

      <OddsTable :draw="draw?.draws[0]" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onBeforeMount, ref } from "vue";

import { DrawResult } from "../../types/Draw";

import GameType from "../../types/GameType";
import OddsTable from "./winners/OddsTable.vue";
import DrawInfoCard from "./winners/DrawInfoCard.vue";

import useLottoDrawHook from "../../hooks/useLottoDrawHook";

const draw = ref<DrawResult | null>(null);

onBeforeMount(async () => {
  draw.value = await useLottoDrawHook(GameType.EURO_JACKPOT);
});
</script>
