<template>
  <Card :title="title">
    <DrawnNumbers
      :additional-numbers="draw.additionalNumbers"
      :numbers="draw.numbers"
    />

    <div class="flex flex-wrap">
      <p class="w-full md:w-10/12">
        Jackpot of the drawing:
        <span class="font-bold">
          {{ toAbbreviation(draw.jackpot) }}
        </span>
        €
      </p>

      <div class="w-full md:w-2/12">
        <a
          href="#"
          class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-gray-800 rounded-lg hover:bg-gray-700 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          To the archive
        </a>
      </div>
    </div>
  </Card>
</template>

<script lang="ts" setup>
import Card from "./../../shared/Card.vue";

import { Draw } from "../../../types/Draw";

import useParseStringDateHook from "../../../hooks/useParseStringDateHook";
import useAbbreviationDateHook from "../../../hooks/useAbbreviationDateHook";
import DrawnNumbers from "./draw-info-card/DrawnNumbers.vue";

const parseStringDate = (date: string) => useParseStringDateHook(date);
const toAbbreviation = (number: string) => useAbbreviationDateHook(number);

const props = defineProps<{
  draw: Draw;
}>();

const title = `EuroJackpot numbers from ${parseStringDate(props.draw.date)}`;
</script>

<style scoped></style>
