<template>
  <h2 class="text-xl font-semibold mt-8 mb-4">Winning Odds</h2>

  <div class="shadow-lg sm:rounded-sm overflow-x-auto">
    <div class="w-full">
      <table
        class="min-w-full divide-gray-200 table-fixed dark:divide-gray-700"
      >
        <thead class="bg-gray-100 dark:bg-gray-700">
          <tr>
            <th
              scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400"
            >
              Class
            </th>
            <th
              scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
            >
              Numbers
            </th>
            <th
              scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-right text-gray-700 uppercase dark:text-gray-400"
            >
              Sum
            </th>
            <th
              scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-right text-gray-700 uppercase dark:text-gray-400"
            >
              Winners
            </th>
          </tr>
        </thead>
        <tbody class="bg-white dark:bg-gray-800 dark:divide-gray-700">
          <tr
            class="hover:bg-gray-100 dark:hover:bg-gray-700 even:bg-gray-50"
            v-for="(item, index) in draw.odds"
            :key="index"
          >
            <td
              class="py-4 px-6 text-sm font-medium text-center text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ item.winningClass }}
            </td>
            <td
              class="py-4 px-6 text-sm font-medium text-gray-900 text-left whitespace-nowrap dark:text-white"
            >
              {{ mapWinningClass(item.winningClass) }}
            </td>
            <td
              class="py-4 px-6 text-sm font-medium text-gray-900 text-right whitespace-nowrap dark:text-white"
            >
              {{ formatCurrency(item.odd) }}
            </td>
            <td
              class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap"
            >
              {{ item.numberOfWinners }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Draw } from "../../../types/Draw";
import useDrawClassMapperHook from "../../../hooks/useDrawClassMapperHook";
import useCurrencyFormatterHook from "../../../hooks/useCurrencyFormatterHook";

defineProps<{
  draw: Draw;
}>();

const formatCurrency = (amount: number) => useCurrencyFormatterHook(amount);
const mapWinningClass = (drawClass: number) =>
  useDrawClassMapperHook(drawClass);
</script>
