<template>
  <div class="h-full bg-blue-50">
    <Header />

    <main class="w-full md:w-1/2 mx-auto px-4">
      <router-view />
    </main>
  </div>
</template>

<script lang="ts" setup>
import Header from "./layout/Header.vue";
</script>

<style scoped></style>
