<template>
  <header>
    <nav
      class="px-6 pt-4 pb-6 bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700"
    >
      <div
        class="container flex flex-wrap justify-between items-center mx-auto"
      >
        <Logo />

        <MobileMenuButton
          :is-mobile-menu-open="isMobileMenuOpen"
          :toggle-mobile-menu="toggleMobileMenu"
        />

        <MobileMenu :is-mobile-menu-open="isMobileMenuOpen" />
      </div>
    </nav>
  </header>
</template>

<script lang="ts" setup>
import { ref } from "vue";

import Logo from "./header/Logo.vue";
import MobileMenuButton from "./header/MobileMenuButton.vue";
import MobileMenu from "./header/MobileMenu.vue";

const isMobileMenuOpen = ref(false);

const toggleMobileMenu = () =>
  (isMobileMenuOpen.value = !isMobileMenuOpen.value);
</script>
