<template>
  <div class="w-4/12 md:w-2/12 px-2 h-32 mb-4">
    <div
      class="rounded h-full w-full hover:shadow-lg"
      :style="{ backgroundColor: color }"
    >
      <div class="w-full mb-8 md:mb-12">
        <h3
          class="w-3/4 mx-auto text-center bg-white rounded-b-lg bg-opacity-50 py-1 text-xs px-2 font-semibold"
        >
          {{ date }}
        </h3>
      </div>

      <div class="w-full text-center">
        <a
          href="#"
          class="inline-flex items-center py-2 px-2 md:px-4 text-sm font-medium text-center text-white bg-transparent border border-white hover:bg-white hover:text-gray-800 rounded-xl hover:shadow-lg"
        >
          {{ buttonText }}
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
defineProps<{
  color: string;
  date: string;
  buttonText: string;
}>();
</script>
