<template>
  <a href="#" class="flex">
    <span
      class="self-center text-lg font-semibold text-gray-900 whitespace-nowrap dark:text-white"
    >
      Fancy Lotto
    </span>
  </a>
</template>
