<template>
  <button
    @click="toggleMobileMenu"
    type="button"
    class="inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500"
    id="mobile-menu-button"
  >
    <span class="sr-only">Open main menu</span>
    <BurgerIcon :is-mobile-menu-open="isMobileMenuOpen" />
    <CloseIcon :is-mobile-menu-open="isMobileMenuOpen" />
  </button>
</template>

<script lang="ts" setup>
import BurgerIcon from "./mobile-menu-button/BurgerIcon.vue";
import CloseIcon from "./mobile-menu-button/CloseIcon.vue";

defineProps<{
  isMobileMenuOpen: boolean;
  toggleMobileMenu: () => void;
}>();
</script>
