<template>
  <div v-if="isMobileMenuOpen" class="w-full md:block md:w-auto">
    <ul class="flex flex-col mt-4 md:hidden">
      <router-link
        :to="menuItem.link"
        :key="index"
        v-for="(menuItem, index) in menuItems"
      >
        <li
          class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hidden"
        >
          {{ menuItem.name }}
        </li>
      </router-link>
    </ul>
  </div>

  <div
    v-if="!isMobileMenuOpen"
    class="hidden w-full md:block md:w-auto"
    id="mobile-menu"
  >
    <ul
      class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
    >
      <router-link
        :to="menuItem.link"
        :key="index"
        v-for="(menuItem, index) in menuItems"
      >
        <li
          class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-white dark:bg-blue-600 md:dark:bg-transparent"
        >
          {{ menuItem.name }}
        </li>
      </router-link>
    </ul>
  </div>
</template>

<script lang="ts" setup>
const menuItems = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Lottery",
    link: "/winners",
  },
];

defineProps<{
  isMobileMenuOpen: boolean;
}>();
</script>
