<template>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    <span
      v-for="number in numbers"
      class="rounded-full bg-white border border-gray-300 text-center h-10 pt-2 w-10 block inline-block mr-2"
    >
      {{ number }}
    </span>

    <span v-if="hasAdditionalNumbers">
      <span class="mr-1"> + </span>
      <span
        v-for="additionalNumber in additionalNumbers"
        class="rounded-full bg-yellow-300 text-center h-10 pt-2 w-10 block inline-block mr-2"
      >
        {{ additionalNumber }}
      </span>
    </span>
  </p>
</template>

<script lang="ts" setup>
const props = defineProps<{
  additionalNumbers: string[];
  numbers: string[];
}>();

const hasAdditionalNumbers = !!props.additionalNumbers.length;
</script>

<style scoped></style>
