<template>
  <div>
    <h2 class="text-xl font-semibold my-4">Online Lotto</h2>

    <div class="flex flex-wrap">
      <Card
        v-for="(game, index) in games"
        :key="index"
        :color="game.color"
        :date="game.date"
        :button-text="game.buttonText"
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
import Card from "./upcoming-games/Card.vue";

const games = [
  {
    color: "rgb(74 222 128)",
    date: " Sun. 20. Feb",
    buttonText: "play now",
  },
  {
    color: "rgb(248 113 113)",
    date: " Sun. 21. Feb",
    buttonText: "play now",
  },
  {
    color: "rgb(251 191 36)",
    date: " Sun. 22. Feb",
    buttonText: "play now",
  },
  {
    color: "rgb(34 211 238)",
    date: " Sun. 23. Feb",
    buttonText: "play now",
  },
  {
    color: "rgb(167 139 250)",
    date: " Sun. 24. Feb",
    buttonText: "play now",
  },
  {
    color: "rgb(232 121 249)",
    date: " Sun. 25. Feb",
    buttonText: "play now",
  },
];
</script>

<style scoped></style>
